body{
background-color:pink;
}
 .box-2{
	position:relative;
 border-radius:50%;
 animation:square 5s  forward;
 width:44px;
 height:44px;
 background-color:orange;
 
 
}
@keyframes circle{
    0%{
		background-color:red;
	    left:0;
		top:0;
	}
	50%{
		background-color:green;
		width:200px;
		height:200px;
		left:450px;
		top:450px;
	}
	100%{
		background-color:orange;
		width:100px;
		height:100px;
		left:300px;
		top:300px;
	}
	